// Font definitions
$headers-font: 'Nunito', sans-serif;
$body-font: Helvetica, Arial, sans-serif;

// Breakpoints
$break-small: 640px;
$break-medium: 960px;
$break-large: 1280px;
$break-xlarge: 1600px;

// Colors
$siasar-blue: #096396;
$siasar-dark-blue: #094069;
$siasar-cyan: #00add2;
$siasar-light-blue: #8edced;
$siasar-light-grey: #d8d8d8;
$siasar-almost-white: #f1f1f1;

$siasar-green: #26c726;
$siasar-light-green: #99f199;

$siasar-yellow: #ffd815;
$siasar-light-yellow: #ffefa1;

$siasar-red: #d81d40;
$siasar-light-red: #df6e52;

$siasar-maroon: #bf1d50;
$siasar-light-maroon: #d97796;

$siasar-orange: #de861b;
$siasar-dark-orange: #a76514;
$siasar-light-orange: #f2cfa4;

$countries-background-color: #5a92a9;


// Layout variables
$layout-max-width: 1240px;
$left-box: 625px;

$animation-duration: 0.3s;
