body.page-country-profiles #main-content {
  background-color: $siasar-almost-white;

  .title-header {
    background-color: $siasar-cyan;
    background-image: url('../images/countries_headers/countries_generic.jpg');
  }

  .countries-grid {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-content(flex-start);
    @include align-items(stretch);

    article {
      background: white;
      box-sizing: border-box;
      min-width: 300px;
      max-width: calc(33% - 20px);
      padding: 15px;
      margin: 10px;

      h2 {
        margin-bottom: 0.5em;
      }
      .content {
        margin: 0;
        min-height: 150px;
      }

    }
  }
}