body.page-reports {
  #main-content {
    .title-header {
      background-image: url(../images/background_generic_corporate.jpg);
    }

    .content {
      @include breakpoint($break-small) {
        margin-top: 50px;
        width: calc(100% - 40px);
        max-width: 800px;
      }
      @include breakpoint($break-large) {
        width: 100%;
      }

      > div {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        display: table;
        width: 100%;

        h3,
        ul {
          @include breakpoint($break-small) {
            display: table-cell;
            vertical-align: top;
          }
        }

        h3 {
          color: black;
          font-size: 1.8em;

          @include breakpoint($break-small) {
            font-size: 2.2em;
            text-align: right;
            padding-right: 30px;
            width: 35%;
          }
        }

        ul {
          margin: 20px 0 0 3px;

          @include breakpoint($break-small) {
            margin: 0;
            padding-top: 5px;
          }

          li div:not(:last-child) {
            margin-bottom: 0.75em;
          }
        }
      }
    }
  }
}