footer[role=contentinfo] {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin: 0;
  background-color: $siasar-dark-blue;
  color: white;
  padding: 20px 10px;;
  text-align: center;
  font-size: 12px;

  @include breakpoint($break-medium) {
    padding: 20px;
    text-align: left;
    font-size: 16px;
  }

  .footer-menu {
    li {
      margin: 0;

      &:not(:last-child) {
        margin-right: 1.2em;
      }

      a {
        color: $siasar-light-grey;
        font-weight: normal;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

