header[role=banner] {

  width: 100%;
  padding: 10px;
  margin: 0;
  background: white;
  position: relative;
  border: none;

  @include breakpoint($break-small) {
    padding: 20px;
  }

  .header-region div {
    width: auto;
    float: none;
  }

  .siteinfo {
    a {
      display: table;
    }
    img {
      display: block;
      width: 35px;
      height: 40px;

      @include breakpoint($break-small) {
        width: 43px;
        height: 50px;
      }
    }
  }

  .site-name-slogan {
    display: none;
  }
}
