#block-system-main-menu {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;

  a {
    font-weight: normal;
  }

  @include breakpoint($break-medium) {
    white-space: nowrap;
  }

  ul:not(.responsified) {
    display: none;

    @include breakpoint($break-medium) {
      display: block;
    }

    li {
      padding: 0 10px;
      margin-left: 0;

      ul {
        display: none;

      }
      &.hover ul {
        display: block;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;
        font-size: 0.8em;
      }
    }
  }
}

.responsive-menus.responsified {
  span.toggler {
    padding: 0;
    display: block;
    background: white;
    color: black;
    border-radius: 0;
    box-shadow: none;
    font-size: 24px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    color: $siasar-blue;

    @include breakpoint($break-small) {
      top: 23px;
    }

  }
  .responsive-menus-simple {
    background: $siasar-light-grey;
    border-radius: 0;
    box-shadow: none;
    float: none;

    > ul > li {

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255,255,255,0.5);
      }
      a {
        font-weight: normal;
        color: $siasar-dark-blue;
        border: none;
      }
      ul li {
        border: none;

        a {
          padding-top: 0;
          padding-bottom: 0.75em;
          text-transform: none;
        }
      }
    }
  }

  &.responsive-toggled.absolute {
    position: static;

    span.toggler {
      border: none;
    }

    .responsive-menus-simple {
      left: 0;

      @include breakpoint($break-small) {
        top: 60px;
      }
    }
  }
}

.language-switch {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1;

  @include breakpoint($break-small) {
    top: 35px;
    right: 20px;
    font-size: 16px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding-left: 5px;
    }
  }

  a {
    text-transform: uppercase;
  }
}

// Common link styling for desktop on both main menu and lang switch
#block-system-main-menu,
.language-switch {
  a {
    font-weight: normal;

    &:hover {
      text-decoration: none;
      border-bottom: solid $siasar-blue 2px;
    }
    &.active {
      color: $siasar-light-blue;
      text-decoration: none;
      border: none;
    }
  }
}
