#block-menu-menu-logins {
  margin-top: 1em;

  ul {
    text-align: center;

    @include breakpoint($break-medium) {
      text-align: left;
    }
  }

  li {
    display: inline-block;

    &#logout {
      display: none;
    }
    &.backend {
      a {
        font-weight: bold;
      }
    }
  }

  .logged-in & {
    li#login {
      display: none;
    }
    li#logout {
      display: inline-block;
    }
  }
}
