#main-content {
  .title-header {
    width: 100%;
    height: 200px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-color: $siasar-cyan;

    @include breakpoint($break-small) {
      height: 300px;
    }
    @include breakpoint($break-medium) {
      height: 400px;
    }

    .wrapper {
      max-width: $layout-max-width;
      height: 200px;
      margin: 0 auto;
      position: relative;

      @include breakpoint($break-small) {
        height: 300px;
      }
      @include breakpoint($break-medium) {
        height: 400px;
      }
    }

    h1 {
      position: absolute;
      bottom: 10px;
      left: 0;
      color: white;
      font-size: 50px;
      font-weight: normal;
      line-height: 0.9;
      letter-spacing: -0.02em;

      @include breakpoint($break-small) {
        font-size: 80px;
        left: -5px;
      }
      @include breakpoint($break-medium) {
        bottom: 20px;
        font-size: 110px;
        left: -10px;
      }
    }
  }
  .content {
    max-width: $layout-max-width;
    margin: 20px auto;
    min-height: 100px;

    @include breakpoint($break-medium) {
      min-height: 150px;
    }
    @include breakpoint($break-medium) {
      margin-top: 35px;
      min-height: 200px;
    }
  }
}
