.top-overlay {
  background: rgba(32,32,32,0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px;
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-content(flex-start);
  @include align-items(stretch);
  animation-name: top-overlay-in;
  animation-duration: $animation-duration;
  animation-timing-function: ease-out;

  @include breakpoint($break-small) {
    padding: 20px;
  }

  * {
    color: white;
  }

  h3 {
    font-size: 150%;
    margin-bottom: 1em;
  }

  .button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url('../images/button_close.svg') center center no-repeat;
    background-size: contain;
    cursor: pointer;

    @include breakpoint($break-small) {
      top: 20px;
      right: 20px;
    }
  }

  ul {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    @include align-content(flex-start);
    @include align-items(stretch);
    margin: 40px auto 0;
    @include flex-basis(100%);

    @include breakpoint($break-small) {
      @include justify-content(center);
      margin-top: 60px;
    }
    @include breakpoint($break-medium) {
      @include justify-content(flex-start);
      @include flex-basis(50%);
    }

    li {
      box-sizing: border-box;
      width: 100px;
      text-align: center;
      padding: 0;

      @include breakpoint($break-small) {
        width: 20%;
      }
      @include breakpoint($break-medium) {
        width: 140px;
      }

      &.collection-header {
        width: 100%;
        text-align: left;

        @include breakpoint($break-small) {
          text-align: center;
        }
        @include breakpoint($break-medium) {
          text-align: left;
        }
      }
      &.collection-item a {
        display: block;
        min-height: 50px;
        padding: 40px 5px 5px;
        margin-bottom: 20px;
        font-size: 12px;
        background: url(../images/icons/paper_sheet.svg) top center no-repeat;
        background-size: 25px 35px;

        @include breakpoint($break-small) {
          margin-bottom: 30px;
          background-size: 37px 52px;
          padding: 65px 10px 10px;
        }
        @include breakpoint($break-medium) {
          background-size: 50px 70px;
          padding-top: 85px;
          font-size: 16px;
        }
      }
    }
  }


}

@keyframes top-overlay-in {
    from {
      opacity: 0;
      transform: scale(0.95);
      }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

